streamlit
openai
langchain
langchain==0.2.11
langchain-community==0.2.10
langchain-chroma
Chroma
chromadb
chroma-hnswlib
langchain-core==0.2.24
langchain-openai==0.1.19
langchain-text-splitters==0.2.2
langchainhub==0.1.20
langdetect==1.0.9
langsmith==0.1.93
pydantic==1.10.9
bs4

